.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #384256;
    opacity: .4;

    span {
        &:first-child {
            font-weight: bold;
        }
        &:last-child {
             font-size: 16px;
        }
    }
}