.users {
    .info {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-bottom: 22px;

        button {
          padding: 5px;
          cursor: pointer;
        }
    }
}